@await Component.InvokeAsync("Menu" , new {})

<h1>Добавить категорию</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="AddCategory"  class="form_line">

    <div class="card" style="width: 18rem;">
  
    
  
        <!-- <img src="~/Pictures/NaPicture.png" class="card-img-top" alt="..."> -->
        <div class="card-body">
        
            <!-- <div class="form-group">
                <label for="file">Select picture for category</label>
                <input type="File"  name="u_file">
            </div> -->


        <div class="input-group mb-2">
            <div class="input-group-prepend">
            <div class="input-group-text">@@имя</div>
            </div>
            <input type="text" class="form-control" name="name" placeholder="Имя категории" value="">
        </div>
        
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea class="form-control" name="description" rows="3"></textarea>
        </div>
    </div>


   
    
    <button type="submit"  class="bn_all">Добавить</button>
</form>