@await Component.InvokeAsync("Menu" , new {})

<h1> План подписки</h1>


<form method="post" asp-controller="Admin" asp-action="AddSub"  class="form_line">

    
    <div class="card" style="width: 18rem;">
  
    
  
        
        <div class="card-body">
        
            


        <div class="input-group mb-2">
            <div class="input-group-prepend">
            <div class="input-group-text">Имя</div>
            </div>
            <input type="text" class="form-control" name="name" placeholder="Имя подписки" value="">
        </div>
        
        <div class="form-group">
            <label for="count_days">Кол-во дней</label>
            <input type="number" step="1" class="form-control" name="count_days" value="0" min="0" >
        </div>
        <div class="form-group">
            <label for="price">Цена у.е.</label>
            <input type="number" step="0.01" class="form-control" name="price" value="0.0" min="0.0" >
        </div>
    </div>


   
    
    <button type="submit"  class="btn btn-sm-2 btn-dark">Добавить</button>
</form>