@await Component.InvokeAsync("Menu" , new {})




<div class="media">
  <img class="mr-3" src="~/Pictures/NaPicture2.png" alt="Generic placeholder image" width="128" height="128">
  <div class="media-body">
    
    <h1> @ViewBag.Dev[0][1]</h1>

    <h5>@ViewBag.Translate_words[72]: -InF</h5>
    
   
  </div>
  
  <div>
      
    <form method="get" asp-controller="User" asp-action="SubToDev_View"  class="form_line">
        <input hidden name="id_dev" value="@ViewBag.Dev[0][0]">
        <button type="submit"  class="btn btn-primary">@ViewBag.Translate_words[84]</button>
    </form>

    

  </div>

</div>