@await Component.InvokeAsync("Menu" , new {})
<h1>Добавить событие</h1>



<form method="post" asp-controller="Dev" asp-action="AddEvent"  class="form_line">
    <div class="card" style="width: 18rem;">
        <img src="~/Pictures/NaPicture.png" class="card-img-top" alt="...">
        <div class="card-body">

            <input type ="hidden" name="_id_product" value=" @Model">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Имя</div>
                </div>
                <input required type="text" class="form-control" name="name" placeholder="EventName" value="">
            </div>

            <div class="form-group">
                <label for="description">Описание</label>
                <textarea required class="form-control" name="description" rows="3"></textarea>
            </div>

             
        </div>
        <button class="btn btn-sm-2 btn-dark" type="submit">Добавить</button>
    </div>
</form>