
<th scope="col"></th>

<td>

           <form method="post" asp-controller="User" asp-action="GiveYourFriend"  class="form_line">
                    
                    <input type="hidden" name="_id_deal_product" value=""/>
                    <button type="submit"  class="btn btn-primary">@ViewBag.Translate_words[68]</button>
            </form>
      </td>