   <div class="_Cart">
        <div class="card" style="width: 16rem; height:24rem">
        <img class="card-img-top" src="~/Pictures/NaPicture2.png" alt="Card image cap">
            <div class="card-body">
               
                <h5 class="card-title">  @ViewBag.Translate_words[61] </h5>
                
            
                <a  method ="get" asp-controller="User" asp-action="ShowUsers" class="btn btn-sm-2 btn-dark"><h4>@ViewBag.Translate_words[61] </h4></a>
               
            </div>
        </div>
    </div>
